name: CI-examples

on: 
  # Trigger the workflow on push to master or pull request
  # to be merged in master
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  list-examples:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false

    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}

    steps:
      - name: Checkout JUDI
        uses: actions/checkout@v2

      - id: set-matrix
        run: echo "::set-output name=matrix::$(ls examples/scripts/*.jl examples/machine-learning/*.jl | xargs -n 1 | jq -R -s -c 'split("\n")[:-1]')"
        shell: bash

  run-examples:
    runs-on: ubuntu-latest
    needs: list-examples
    name: ${{ matrix.example }} on Julia ${{ matrix.version }}

    env:
      DEVITO_ARCH: gcc-9
      DEVITO_LANGUAGE: "openmp"
      DEVITO_LOGGING: "ERROR"
      OMP_NUM_THREADS: 2
      NITER: 1

    strategy:
      fail-fast: false
      matrix:
        example: ${{ fromJson(needs.list-examples.outputs.matrix) }}
        version: ['1.7']

        include:
         - example: "examples/scripts/modeling_basic_2D.jl"
           version: '1.6'

    steps:
      - name: Checkout JUDI
        uses: actions/checkout@v2

      - name: Set julia python
        run: |
          PYTHON=$(which python3) julia -e 'using Pkg;Pkg.add("PyCall");Pkg.build("PyCall")'

      - name: Setup julia
        uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: x64

      - name: Set julia python
        run: |
          PYTHON=$(which python3) julia -e 'using Pkg;Pkg.add("PyCall");Pkg.build("PyCall")'

      - name: Build JUDI
        uses: julia-actions/julia-buildpkg@latest

      - name: Install packages
        run: |
          julia -e 'using Pkg;Pkg.add(["NLopt", "Flux", "JOLI", "PyPlot", "IterativeSolvers", "SlimOptim", "HDF5", "SegyIO", "SetIntersectionProjection"])'
          julia -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd()))'

      - name: Run examples
        run: julia -p 2 ${{ matrix.example }}
