name: CI-JUDI

on:
  # Trigger the workflow on push to master or pull request
  # to be merged in master
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      DEVITO_ARCH: gcc-7
      DEVITO_LANGUAGE: "openmp"
      DEVITO_BACKEND: "core"
      OMP_NUM_THREADS: 4
      GROUP: "JUDI"

    strategy:
      fail-fast: false

      matrix:
        version: ['1.1', '1.2', '1.3', '1.4', '1.5']
        os: [ubuntu-latest]
        include:
          - version: 1.3
            os: macos-latest

          - version: 1.4
            os: macos-latest

    steps:
      - name: Checkout JUDI
        uses: actions/checkout@v2

      - name: Setup julia
        uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: x64

      - name: Add SLIM registery
        run: |
           julia --color=yes --check-bounds=yes -e 'using Pkg;Pkg.update();Pkg.Registry.add(RegistrySpec(url="https://github.com/slimgroup/SLIMregistryJL.git"))'

      - name: Instal gcc
        if: runner.os == 'macOS'
        run: brew install gcc@7

      - name: Build JUDI
        uses: julia-actions/julia-buildpkg@latest

      - name: Run tests
        uses: julia-actions/julia-runtest@latest

      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: lcov.info
