name: CI-JUDI

on:
  # Trigger the workflow on push to master or pull request
  # to be merged in master
  push:
    # branches:
    #   - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: JUDI base on Julia ${{ matrix.version }} - ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      DEVITO_ARCH: gcc-7
      DEVITO_LANGUAGE: "openmp"
      DEVITO_BACKEND: "core"
      OMP_NUM_THREADS: 4
      GROUP: "JUDI"

    strategy:
      fail-fast: false

      matrix:
        version: ['1.6', '1.7']
        os: [ubuntu-latest, macos-latest]

    steps:
      - name: Checkout JUDI
        uses: actions/checkout@v2

      - name: Setup julia
        uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: x64

      - name: Instal gcc
        if: runner.os == 'macOS'
        run: brew install gcc@7

      - name: Set julia python
        run: |
          PYTHON=$(which python3) julia -e 'using Pkg;Pkg.add("PyCall");Pkg.build("PyCall")'

      - name: Build JUDI
        uses: julia-actions/julia-buildpkg@latest

      - name: Run tests
        uses: julia-actions/julia-runtest@latest

      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v1
        with:
          file: lcov.info
